.input-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.text-box {
    height: 65%;
    width: 87%;
    border: 1px solid grey;
    border-radius: 9px;
    font-size: 1rem;
}

.send-icon {
    background: url("../../../public/images/send.svg") no-repeat;
    height: 42px;
    width: 42px;
    background-color: #3da577;
    text-align: center;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    background-size: 60%;
    background-position: center;
    background-blend-mode: lighten;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.send-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
