.App {
}

.app-body {
    height: 100vh;
    background-image: url("../public/images/wp4676582.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    top: 0px;
    left: 0px;
}

