.right-window-container {
    height: 782px;
    width: 756px;
}

.notes-window-container {
    height: 717px;
    width: 756px;
}

.input-box-container {
    height: 65px;
    width: 756px;
    left: 343.75px;
    top: 717.29px;
    background-color: #FFF;
}
