.right-window-container {
    height: 100%;
    width: 100%;
}

.notes-window-container {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}

.input-box-container {
    height: 10%;
    width: 100%;
    left: 343.75px;
    top: 717.29px;
    background-color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
